@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgb(160, 180, 216);
}
@import "variables-mixins/variables"; //variables
@import "variables-mixins/mixins"; //Mixins 
@import "common/header"; //menus
@import "inicio/inicio"; //inicio del Index.html
@import "inicio/comprarnos"; //porque comprarnos del index
@import "inicio/vendemos"; //Algunas cosas que vendemos del index
@import "common/redesSociales"; //redes sociales general
@import "common/footer"; //footer general
@import "indumentarias/indumentarias"; //contenido general de las indumentarias
@import "mediaqueries/mediaqueries";  //mediaquieries de todas las paginas

    