@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgb(160, 180, 216);
}
@import "variables-mixins/_variables"; //variables
@import "variables-mixins/_mixins"; //Mixins 
@import "common/_header"; //menus
@import "inicio/_inicio"; //inicio del Index.html
@import "inicio/_comprarnos"; //porque comprarnos del index
@import "inicio/_vendemos"; //Algunas cosas que vendemos del index
@import "common/_redesSociales"; //redes sociales general
@import "common/_footer"; //footer general
@import "indumentarias/_indumentarias"; //contenido general de las indumentarias
@import "mediaqueries/_mediaqueries";  //mediaquieries de todas las paginas

    